<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.CodeDom" version="7.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.EventLog" version="7.0.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="7.0.0" targetFramework="net472" />
  <package id="System.Management" version="7.0.2" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.ServiceProcess.ServiceController" version="7.0.1" targetFramework="net472" />
  <package id="WPF-UI" version="2.1.0" targetFramework="net472" />
</packages>